<div class="alert" [ngClass]="alerta">
    <strong>Alerta</strong> vamos a terminar esto pronto.
</div>
<div class="d-flex gap-1">
    <button (click)="changeClass(1)" class="ms-auto btn btn-primary">Primary</button>
    <button (click)="changeClass(2)" class="btn btn-secondary ">Secondary</button>
    <button (click)="changeClass(3)" class="btn btn-success ">Success</button>
    <button (click)="changeClass(4)" class="btn btn-danger ">Danger</button>
</div>
<hr>
<button class="btn btn-primary" (click)="ejecutar()" [disabled]="loading" style="font-size: 18px; line-height: 24px;">
    <i *ngIf="loading" class="material-icons rotated" style="vertical-align: bottom;">sync</i>
    <i *ngIf="!loading" class="material-icons" style="vertical-align: bottom;">save</i>
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> Espere cambios</span>
</button>