<div class="row border my-2 shadow-sm p-2">
    <div class="col text-end">
        <p class="display-6">ngStyle</p>
    </div>
    <hr>
    <div class="col">
        <app-ngstyle></app-ngstyle>
    </div>
</div>
<div class="row border my-2 shadow p-2">
    <div class="col text-end">
        <p class="display-6">ngClass</p>
    </div>
    <hr>
    <div class="col">
        <app-ngclass></app-ngclass>
    </div>
</div>
<div class="row border my-2 shadow rounded p-2">
    <div class="col text-end">
        <p class="display-6">Directivas propias</p>
    </div>
    <hr>
    <div class="col">
        <p appResaltado="green">Sobre este texto, existe una directiva</p>
    </div>
</div>
<div class="row my-2 shadow rounded p-2 border">
    <div class="col text-end">
        <p class="display-6">ngSwitch</p>
    </div>
    <hr>
    <div class="col">
        <app-ngswitch></app-ngswitch>
    </div>
</div>