<div class="container mb-5">
    <div class="row mt-2  bg-danger text-white text-center rounded shadow p-2">
        <div class="col">
            <h1>Directivas, ciclos de vida</h1>
        </div>
    </div>
    <div class="row mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="home">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="usuarios">Usuarios</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>


</div>